# Пример конфигурации для внутреннего портала Kpk-Korona Internal System

DB_HOST=10.99.0.1
DB_PORT=5432
DB_USER=kpk-korona_user
DB_PASS=Secret123!

REDIS_HOST=193.232.94.68
REDIS_PORT=6379
REDIS_PASSWORD=RedisSecret

API_ENDPOINT=https://api.kpk-korona.ru
LEGACY_ENDPOINT=http://192.0.2.10:8080/api